<?xml version="1.0" encoding="UTF-8"?>
<config:ConfigModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:config="http://www.modelbus.org/system/model/config.ecore">
  <location name="repositoryLocation" location="http://#IP#:8080/modelbusrepository"/>
  <!-- <location name="secureRepositoryLocation" location="https://0.0.0.0:8181/modelbusrepository">
    <property name="SSLTrustStore" value="SSL\cacerts.jks"/>
    <property name="SSLTrustStorePassword" value="CHANGEME"/>
    <property name="SSLKeyStore" value="SSL\modelbus.keystore"/>
    <property name="SSLKeyStorePassword" value="CHANGEME"/>
    <property name="SSLAlgorithm" value="RSA"/>
    <property name="SSLPassword" value="CHANGEME"/>
  </location> //-->
  <location name="notificationLocation" location="tcp://#IP#:61616"/>
  <!-- <location name="svnRepositoryLocation" location="repository\svn"/> -->
  <location name="gitRepositoryLocation" location="\repository\git">
    <property name="GitUserName" value="ModelBus"/>    
    <property name="GitUserEmail" value="modelbus@pollen-metrology.com"/> 
  </location>
  <externalLocation name="ModelBusOSLCRegistry" location="http://0.0.0.0:8080/oslc">
   <property name="type" value="OSLC"/>
   <property name="publicRootURI" value="http://0.0.0.0:8080/oslc/public"/>
   <property name="rootServicesURI" value="http://0.0.0.0:8080/oslc/public/rootservices"/>
  </externalLocation>
</config:ConfigModel>
